*{
  box-sizing: border-box;
  align-items: center;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}






/* @keyframes App-header {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
